force-app/main/default/flows/Account_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>set price book as reseller price book</description>
        <name>Copy_1_of_Set_reseller_pricebook</name>
        <label>Copy 1 of Set reseller pricebook</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getResellerPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>set price book as standard price book</description>
        <name>Copy_1_of_Set_standard_pricebook</name>
        <label>Copy 1 of Set standard pricebook</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStandardPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>set price book as reseller price book</description>
        <name>Set_reseller_pricebook</name>
        <label>Set reseller pricebook</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getResellerPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>copy billing address to shipping address</description>
        <name>set_shipping_address</name>
        <label>set shipping address</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingGeocodeAccuracy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set price book as standard price book</description>
        <name>Set_standard_pricebook</name>
        <label>Set standard pricebook</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStandardPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check record type</description>
        <name>Check_Record_Type</name>
        <label>Check  Record Type</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Sales_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_standard_pricebook</targetReference>
            </connector>
            <label>is Sales record type</label>
        </rules>
        <rules>
            <name>Is_Reseller_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_reseller_pricebook</targetReference>
            </connector>
            <label>Is Reseller record type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check record type</description>
        <name>Copy_1_of_Check_Record_Type</name>
        <label>Check  Record Type</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_is_Sales_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_standard_pricebook</targetReference>
            </connector>
            <label>is Sales record type</label>
        </rules>
        <rules>
            <name>Copy_1_of_Is_Reseller_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_reseller_pricebook</targetReference>
            </connector>
            <label>Is Reseller record type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if record is created or updated</description>
        <name>Is_Created_or_Updated</name>
        <label>Is Created or Updated</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Updated</defaultConnectorLabel>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_shipping_address</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>check if record is created or updated</description>
        <name>ISNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getResellerPriceBook</name>
        <label>getResellerPriceBook</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Created_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reseller</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStandardPriceBook</name>
        <label>getStandardPriceBook</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getResellerPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStandardPriceBook</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
