force-app/main/default/flows/Admin_Override_Subscription_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ModifySubscriptionExternalCallout</name>
        <label>ModifySubscriptionExternalCallout</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>ModifySubscriptionExternalCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Admin_Override_Subscription_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>autoRenew</name>
            <value>
                <elementReference>Auto_Renew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calloutType</name>
            <value>
                <stringValue>ModifySubscription</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endCustomerAdeptId</name>
            <value>
                <elementReference>Get_Account.Adept_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>EndDateSubscriptionDetail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newStartDate</name>
            <value>
                <elementReference>NewStartDateRenewalDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>quantitySubscriptionDetail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>startDateSubscriptionDetail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SubscriptionModification</name>
            <value>
                <elementReference>Subscription_Modification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>res_responseType</assignToReference>
            <name>responseType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_result</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SET_AUTORENEW_DETAILS</name>
        <choiceText>SET AUTORENEW DETAILS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SET AUTORENEW DETAILS</stringValue>
        </value>
    </choices>
    <choices>
        <name>SET_RENEWAL_DATE</name>
        <choiceText>SET RENEWAL DATE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SET RENEWAL DATE</stringValue>
        </value>
    </choices>
    <choices>
        <name>SET_SUBSCRIPTION_DETAILS</name>
        <choiceText>SET SUBSCRIPTION DETAILS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SET SUBSCRIPTION DETAILS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Adept_Customer_Id</name>
        <label>Check Adept Customer Id</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Adept_Customer_Id_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Adept_Customer_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Subscription.endDate__c})</expression>
    </formulas>
    <formulas>
        <name>startDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Subscription.startDate__c})</expression>
    </formulas>
    <interviewLabel>Admin Override Subscription Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admin Override Subscription Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Adept_Customer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Adept_Customer_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Admin_Override_Subscription_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>adept_billing_customer_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Adept_Customer_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>adept_end_customer_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Adept_Customer_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sandbox_cbt_subscriptions__x</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>startDate__c</queriedFields>
        <queriedFields>endDate__c</queriedFields>
        <queriedFields>quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Adept_Customer_Id_Missing</name>
        <label>Adept Customer Id Missing</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AdeptCustomerIdRequired</name>
            <extensionName>c:lwc_NotifyMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Adept Customer Id is required on account.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Admin_Override_Subscription_Response</name>
        <label>Admin Override Subscription Response</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AdminOverrideSubscriptionRes</name>
            <extensionName>c:lwc_NotifyMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>res_responseType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>res_result</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Admin_Override_Subscription_Screen</name>
        <label>Admin Override Subscription Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ModifySubscriptionExternalCallout</targetReference>
        </connector>
        <fields>
            <name>Admin_Override_Subscription_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Admin_Override_Subscription_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subscription_Modification</name>
                    <choiceReferences>SET_SUBSCRIPTION_DETAILS</choiceReferences>
                    <choiceReferences>SET_AUTORENEW_DETAILS</choiceReferences>
                    <choiceReferences>SET_RENEWAL_DATE</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Subscription Modification</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Admin_Override_Subscription_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Admin_Override_Subscription_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>startDateSubscriptionDetail</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>startDateFormula</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EndDateSubscriptionDetail</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>endDateFormula</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>quantitySubscriptionDetail</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Subscription.quantity__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subscription_Modification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SET SUBSCRIPTION DETAILS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Admin_Override_Subscription_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Admin_Override_Subscription_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewStartDateRenewalDate</name>
                    <dataType>Date</dataType>
                    <fieldText>New Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subscription_Modification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SET RENEWAL DATE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Admin_Override_Subscription_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Admin_Override_Subscription_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auto_Renew</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Auto Renew</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subscription_Modification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SET AUTORENEW DETAILS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_responseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
