force-app/main/default/flows/Billing_Subscription_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionText</name>
        <dataType>String</dataType>
        <expression>&quot;License Added &quot; &amp; TEXT({!$Record.Licenses_Added__c}) &amp; &quot;,  License Type &quot; &amp; {!$Record.License_Type__c}</expression>
    </formulas>
    <interviewLabel>Billing Subscription Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Billing Subscription Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Event</name>
        <label>Add Event</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Subscription Added</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Adept_Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_Opportunity</name>
        <label>Update Renewal Opportunity</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Adept_Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_Count__c</field>
            <value>
                <elementReference>$Record.Licenses_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Type__c</field>
            <value>
                <elementReference>$Record.License_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Renewal_Opportunity</targetReference>
        </connector>
        <object>Billing_Subscription_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
