force-app/main/default/flows/Build_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigateToBuildQuote</name>
        <label>NavigateToBuildQuote</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:NavigateToBuildQuote</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Build Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attach Signed Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Generate_Quote</name>
        <label>Generate Quote</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateToBuildQuote</targetReference>
        </connector>
        <fields>
            <name>Generate_Quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Generate_Quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NotifyMessage</name>
                    <extensionName>c:lwc_NotifyMessage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>message</name>
                        <value>
                            <elementReference>SalesTaxCalloutResponse</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <elementReference>SalesTaxCalloutResponseType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Generate Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Tax_Callout</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sales_Tax_Callout</name>
        <label>Sales Tax Callout</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Generate_Quote</targetReference>
        </connector>
        <flowName>Sales_Tax_Callout</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SalesTaxCalloutResponse</assignToReference>
            <name>CalloutResponse</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesTaxCalloutResponseType</assignToReference>
            <name>responseType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesTaxCalloutResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesTaxCalloutResponseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
