force-app/main/default/flows/Contact_Us.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>grab_contact_values_from_request</name>
        <label>grab contact values from request</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>find_contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>grab_lead_values_from_request</name>
        <label>grab lead values from request</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>find_lead.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_lead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>find_lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>missing_required_values_response</name>
        <label>missing required values response</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>missing required value(s)</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>able_to_find_contact</name>
        <label>able to find contact?</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>find_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>did not find contact</defaultConnectorLabel>
        <rules>
            <name>found_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>find_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>grab_contact_values_from_request</targetReference>
            </connector>
            <label>found contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>able_to_find_lead</name>
        <label>able to find lead?</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>create_new_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>did not find lead</defaultConnectorLabel>
        <rules>
            <name>found_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_lead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>find_lead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>grab_lead_values_from_request</targetReference>
            </connector>
            <label>found lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_required_values</name>
        <label>check for required values</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>missing_required_values_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>missing required values</defaultConnectorLabel>
        <rules>
            <name>has_required_values</name>
            <conditionLogic>(1 or 2) and 3 and 4 and 5 and 6 and 7 and 8 and 9 and 10 and 11 and 12</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ls</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>first_name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>last_name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>first_name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>last_name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>quantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>company</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>find_contact</targetReference>
            </connector>
            <label>has required values</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only the two values &apos;ls&apos; and &apos;sales&apos; are accepted.</description>
        <name>For_what_department</name>
        <label>For what department</label>
        <locationX>248</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>create_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>sales</defaultConnectorLabel>
        <rules>
            <name>ls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ls</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_case</targetReference>
            </connector>
            <label>ls</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact Us {!$Flow.CurrentDateTime}
Name: {!first_name} {!last_name}
Email: {!email}</interviewLabel>
    <label>Contact Us</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_lead</name>
        <label>create new lead</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>For_what_department</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>first_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>last_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>find_contact</name>
        <label>find contact</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>able_to_find_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>find_lead</name>
        <label>find lead</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>able_to_find_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>For_what_department</targetReference>
        </connector>
        <inputReference>find_contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_lead</name>
        <label>update lead</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>For_what_department</targetReference>
        </connector>
        <inputReference>find_lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_required_values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>create_case</name>
        <label>create case</label>
        <locationX>116</locationX>
        <locationY>1310</locationY>
        <flowName>Create_LS_Case_for_Contact_Us</flowName>
        <inputAssignments>
            <name>contact_id</name>
            <value>
                <elementReference>find_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lead_id</name>
            <value>
                <elementReference>find_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>create_task</name>
        <label>create task</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <flowName>Create_Sales_Task_for_Contact_Us</flowName>
        <inputAssignments>
            <name>contact_id</name>
            <value>
                <elementReference>find_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lead_id</name>
            <value>
                <elementReference>find_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>first_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>form_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>last_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>member_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </variables>
    <variables>
        <name>response_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>200</stringValue>
        </value>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
