force-app/main/default/flows/Contact_Us.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Error_Handle</name>
        <label>Error Handle</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Missing_Required_Values_Response</name>
        <label>Missing Required Values Response</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>response_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>response_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Missing required value(s).</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>able_to_find_contact</name>
        <label>able to find contact?</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>find_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>did not find contact</defaultConnectorLabel>
        <rules>
            <name>found_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>find_contact.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Case_For_Contact</targetReference>
            </connector>
            <label>found contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>able_to_find_lead</name>
        <label>able to find lead?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>create_new_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>did not find lead</defaultConnectorLabel>
        <rules>
            <name>found_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_lead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>find_lead.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Case_For_Existing_Lead</targetReference>
            </connector>
            <label>found lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_required_values</name>
        <label>check for required values</label>
        <locationX>1023</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Missing_Required_Values_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>missing required values</defaultConnectorLabel>
        <rules>
            <name>has_required_values</name>
            <conditionLogic>(1 or 2) and 3 and 4 and 5 and 6 and 7 and 8 and 9 and 10 and 11 and 12</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ls</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>first_name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>last_name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>first_name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>last_name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>quantity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>company</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Which_Department</targetReference>
            </connector>
            <label>has required values</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only the two values &apos;ls&apos; and &apos;sales&apos; are accepted.</description>
        <name>Which_Department</name>
        <label>Which Department</label>
        <locationX>677</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Insert_New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if sales</defaultConnectorLabel>
        <rules>
            <name>if_ls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ls</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_contact</targetReference>
            </connector>
            <label>if ls</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LicenceCountBasedOnNumberOfLearner</name>
        <dataType>Number</dataType>
        <expression>IF({!quantity} = &apos;1&apos;, 1 , IF({!quantity} = &apos;2-4&apos;, 2, IF({!quantity} = &apos;5-20&apos;, 5, IF({!quantity} = &apos;20+&apos;, 20 , 1))))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contact Us {!$Flow.CurrentDateTime}
Name: {!first_name} {!last_name}
Email: {!email}</interviewLabel>
    <label>Contact Us</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_lead</name>
        <label>create new lead</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Case_For_New_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handle</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Browser__c</field>
            <value>
                <elementReference>browser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ext__c</field>
            <value>
                <elementReference>ext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>first_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flash__c</field>
            <value>
                <elementReference>flash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
            <value>
                <elementReference>form_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Campaign__c</field>
            <value>
                <elementReference>gacampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Client_Id__c</field>
            <value>
                <elementReference>gaclientid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Medium__c</field>
            <value>
                <elementReference>gamedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Source__c</field>
            <value>
                <elementReference>gasource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Track_Id__c</field>
            <value>
                <elementReference>gatrackid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_User_Id__c</field>
            <value>
                <elementReference>gauserid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>last_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Player__c</field>
            <value>
                <elementReference>media_player</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Id__c</field>
            <value>
                <elementReference>member_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OS__c</field>
            <value>
                <elementReference>os</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Lead</name>
        <label>Insert New Lead</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Browser__c</field>
            <value>
                <elementReference>browser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ext__c</field>
            <value>
                <elementReference>ext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>first_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flash__c</field>
            <value>
                <elementReference>flash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Name__c</field>
            <value>
                <elementReference>form_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Campaign__c</field>
            <value>
                <elementReference>gacampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Client_Id__c</field>
            <value>
                <elementReference>gaclientid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Medium__c</field>
            <value>
                <elementReference>gamedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Source__c</field>
            <value>
                <elementReference>gasource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_Track_Id__c</field>
            <value>
                <elementReference>gatrackid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GA_User_Id__c</field>
            <value>
                <elementReference>gauserid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>last_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Count__c</field>
            <value>
                <elementReference>LicenceCountBasedOnNumberOfLearner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Player__c</field>
            <value>
                <elementReference>media_player</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Id__c</field>
            <value>
                <elementReference>member_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Learners__c</field>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OS__c</field>
            <value>
                <elementReference>os</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>find_contact</name>
        <label>find contact</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>able_to_find_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>find_lead</name>
        <label>find lead</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>able_to_find_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>897</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_required_values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case_For_Contact</name>
        <label>Create Case For Contact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <flowName>Create_LS_Case_for_Contact_Us</flowName>
        <inputAssignments>
            <name>browser</name>
            <value>
                <elementReference>browser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact_id</name>
            <value>
                <elementReference>find_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flash</name>
            <value>
                <elementReference>flash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>media_player</name>
            <value>
                <elementReference>media_player</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>os</name>
            <value>
                <elementReference>os</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_For_Existing_Lead</name>
        <label>Create Case For Existing Lead</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <flowName>Create_LS_Case_for_Contact_Us</flowName>
        <inputAssignments>
            <name>browser</name>
            <value>
                <elementReference>browser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flash</name>
            <value>
                <elementReference>flash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lead_id</name>
            <value>
                <elementReference>find_lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>media_player</name>
            <value>
                <elementReference>media_player</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>os</name>
            <value>
                <elementReference>os</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Case_For_New_Lead</name>
        <label>Create Case For New Lead</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>Create_LS_Case_for_Contact_Us</flowName>
        <inputAssignments>
            <name>browser</name>
            <value>
                <elementReference>browser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flash</name>
            <value>
                <elementReference>flash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lead_id</name>
            <value>
                <elementReference>create_new_lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>media_player</name>
            <value>
                <elementReference>media_player</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>os</name>
            <value>
                <elementReference>os</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <flowName>Create_Sales_Task_for_Contact_Us</flowName>
        <inputAssignments>
            <name>lead_id</name>
            <value>
                <elementReference>Insert_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>browser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>first_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flash</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>form_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gacampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gaclientid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gamedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gasource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gatrackid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gauserid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>last_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>media_player</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>member_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>os</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </variables>
    <variables>
        <name>response_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>200</stringValue>
        </value>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
