force-app/main/default/flows/Create_Trial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>CreateTrial</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Trial_Callout_From_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ConvertLearErrorFooter</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resellerAccountId</name>
            <value>
                <elementReference>Reseller_Account.recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OpportunityId</assignToReference>
            <name>OpportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Trial_Callout_From_Lead</name>
        <label>Create Trial Callout From Lead</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <actionName>TrialExternalCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Trial_Result_For_Lead</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>adminEmail</name>
            <value>
                <elementReference>Admin_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calloutType</name>
            <value>
                <elementReference>CalloutType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>durationOverride</name>
            <value>
                <elementReference>Duration_Override</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>licenseCount</name>
            <value>
                <elementReference>License_Count</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>licenseType</name>
            <value>
                <elementReference>License_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OppId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>responseType</assignToReference>
            <name>responseType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Trial_Callout_From_Opp</name>
        <label>Create Trial Callout From Opp</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <actionName>TrialExternalCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Trial_Result_For_Opp</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>adminEmail</name>
            <value>
                <elementReference>Admin_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calloutType</name>
            <value>
                <elementReference>CalloutType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>durationOverride</name>
            <value>
                <elementReference>Duration_Override</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>licenseCount</name>
            <value>
                <elementReference>License_Count</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>licenseType</name>
            <value>
                <elementReference>License_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OppId</name>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>responseType</assignToReference>
            <name>responseType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Opportunity</name>
        <label>Navigate To Opportunity</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>CalloutType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateTrial</stringValue>
        </value>
    </constants>
    <constants>
        <name>LeadObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>OpportunityObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Trial_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadObjectName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>If Lead</label>
        </rules>
        <rules>
            <name>If_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityObjectName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>If Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadObjectName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Yes_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityObjectName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trial_Callout_From_Opp</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>Create Trial flow to added on Lead and Opportunity detail page.</description>
    <dynamicChoiceSets>
        <name>LicenseTypevaluesFromLead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>License_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AdminEmail</name>
        <dataType>String</dataType>
        <expression>IF({!GetEntity.DeveloperName} = &apos;Lead&apos;, {!Get_Lead_Record.Email}, IF({!GetEntity.DeveloperName} = &apos;Opportunity&apos;, {!Get_Primary_Contact.Email}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>DurationOverrideValidation</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!Duration_Override} &gt; 0,{!Duration_Override} &lt; 366 ), true, false)</expression>
    </formulas>
    <formulas>
        <name>IdPrefix</name>
        <dataType>String</dataType>
        <expression>Left({!recordId},3)</expression>
    </formulas>
    <formulas>
        <name>LicenceCount</name>
        <dataType>Number</dataType>
        <expression>IF({!GetEntity.DeveloperName} = &apos;Lead&apos;,         {!Get_Lead_Record.License_Count__c},       IF({!GetEntity.DeveloperName} = &apos;Opportunity&apos;, {!Get_Opportunity_Record.License_Count__c}, 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LicenceCountValidation</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!License_Count} &gt;0 , {!License_Count} &lt;101 ), true, false)</expression>
    </formulas>
    <formulas>
        <name>LicenseType</name>
        <dataType>String</dataType>
        <expression>IF({!GetEntity.DeveloperName} = &apos;Lead&apos;,   TEXT({!Get_Lead_Record.License_Type__c}) ,   IF({!GetEntity.DeveloperName} = &apos;Opportunity&apos;, TEXT({!Get_Opportunity_Record.License_Type__c}), &apos;Annual&apos;) )</expression>
    </formulas>
    <formulas>
        <name>StartDateToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Create Trial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Trial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get lead record to prepopulate field on screen.</description>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trial_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>License_Count__c</queriedFields>
        <queriedFields>License_Type__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>License_Count__c</queriedFields>
        <queriedFields>License_Type__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trial_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEntity</name>
        <label>GetEntity</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ConvertLearErrorFooter</name>
        <label>ConvertLearErrorFooter</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConvertLeadErrorText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trial_Result_For_Lead</name>
        <label>Trial Result For Lead</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_To_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Trial_Result_For_Lead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Trial_Result_For_Lead_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NotifyResponseLead</name>
                    <extensionName>c:lwc_NotifyMessage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>message</name>
                        <value>
                            <elementReference>response</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <elementReference>responseType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountRecordDetailOnLeadFlow</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>View</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Subscription_Id__c,Adept_Customer_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trial_Result_For_Opp</name>
        <label>Trial Result For Opp</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotifyResponse</name>
            <extensionName>c:lwc_NotifyMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <elementReference>responseType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Trial_Result_For_Opp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Trial_Result_For_Opp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountRecordDetail</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Subscription_Id__c,Adept_Customer_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity_Record.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressUnderline</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trial_Screen</name>
        <label>Trial Screen</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <fields>
            <name>Trial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Trial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reseller_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_to_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reseller Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>LeadObjectName</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>License_Type</name>
            <choiceReferences>LicenseTypevaluesFromLead</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LicenseType</elementReference>
            </defaultValue>
            <fieldText>License Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>License_Count</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>LicenceCount</elementReference>
            </defaultValue>
            <fieldText>License Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;License Count should be positive and maximum limit is 100.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!LicenceCountValidation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>StartDateToday</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Duration_Override</name>
            <dataType>Number</dataType>
            <fieldText>Duration Override</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Value should be more than 0 and less than or equal to 365.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DurationOverrideValidation}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Admin_Name</name>
            <dataType>String</dataType>
            <fieldText>Admin Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Admin_Email</name>
            <dataType>String</dataType>
            <fieldText>Admin Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Trial</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEntity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newQuote</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteNewList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
