force-app/main/default/flows/Create_Quote_Line_Item_From_Quote_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>check_if_License_Type_and_Count_exist</name>
        <label>check if License Type and Count exist</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>doesnt exist</defaultConnectorLabel>
        <rules>
            <name>if_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_License_Type</targetReference>
            </connector>
            <label>if exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Execution</name>
        <label>Execution</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Name</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Synced_Quote</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Update</name>
        <label>Quote Update</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_on_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Stage</targetReference>
            </connector>
            <label>Waiting on PO</label>
        </rules>
        <rules>
            <name>Auto_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Renew__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Auto_Renew</targetReference>
            </connector>
            <label>Auto Renew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Synced_Quote</name>
        <label>Synced Quote</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsSyncing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_License_Type</name>
        <label>Which License Type  ?</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAnnualPricebookEntries</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMonthlyPricebookEntries</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Check if record is new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity.Account.Name} &amp; &apos; - Quote - &apos; &amp; {!$Record.QuoteNumber}</expression>
    </formulas>
    <formulas>
        <name>SubtotalChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Subtotal})</expression>
    </formulas>
    <interviewLabel>Create Quote Line Item From Quote Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Item</name>
        <label>Create Quote Line Item</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getAnnualPricebookEntries.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>getAnnualPricebookEntries.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.License_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>getAnnualPricebookEntries.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Item_for_monthly</name>
        <label>Create Quote Line Item for monthly</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getMonthlyPricebookEntries.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>getMonthlyPricebookEntries.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.License_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>getMonthlyPricebookEntries.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAnnualPricebookEntries</name>
        <label>getAnnualPricebookEntries</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMonthlyPricebookEntries</name>
        <label>getMonthlyPricebookEntries</label>
        <locationX>314</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Line_Item_for_monthly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>105</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Quote_Name</name>
        <label>Set Quote Name</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_Sync_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Auto_Renew</name>
        <label>Update Opp Auto Renew</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>$Record.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Waiting on PO</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_Sync_Quote</name>
        <label>Update Opportunity to Sync Quote</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>check_if_License_Type_and_Count_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>$Record.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quoted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Execution</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
