force-app/main/default/flows/Download_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetInvoicePDFExternalCallout</name>
        <label>GetInvoicePDFExternalCallout</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>GetInvoicePDFCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DownloadInvoice_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>calloutType</name>
            <value>
                <stringValue>GetInvoicePDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>res_message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_responseType</assignToReference>
            <name>responseType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_Result</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_signedUrl</assignToReference>
            <name>signedUrl</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}  +&apos; &apos;+ {!$User.LastName} + &apos; Refunded.&apos;</expression>
    </formulas>
    <interviewLabel>Download Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Download Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DownloadInvoice</name>
        <label>DownloadInvoice</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetInvoicePDFExternalCallout</targetReference>
        </connector>
        <fields>
            <name>DownloadInvoice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DownloadInvoice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DownloadInvoice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DownloadInvoice_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DownloadInvoice_Response</name>
        <label>DownloadInvoice Response</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DownloadInvoice_Response_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DownloadInvoice_Response_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DownloadInvoiceResponse</name>
                    <extensionName>c:lwc_NotifyMessage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>message</name>
                        <value>
                            <elementReference>res_message</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <elementReference>res_responseType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DownloadInvoice_Response_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DownloadInvoice_Response_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Downloadurl</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!res_signedUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Download Invoice&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>res_responseType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>success</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DownloadInvoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_responseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_signedUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
