force-app/main/default/flows/Individual_Contact_Role_Content_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>addContentDocumentLink</name>
        <label>addContentDocumentLink</label>
        <locationX>314</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentLinkrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Content_Version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentDocumentIds</name>
        <label>ContentDocumentIds</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getExistContentDocumentLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addContentDocumentLink</name>
        <label>Copy 1 of addContentDocumentLink</label>
        <locationX>1106</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentLinkrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Content_Version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ContentDocumentIds</name>
        <label>Copy 1 of ContentDocumentIds</label>
        <locationX>842</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Fetch_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_getExistContentDocumentLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Individual_Opportunity_Contact_Role</name>
        <label>Copy 1 of Create Individual Opportunity Contact Role</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>IndividualRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Account_Contact_Loop.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_List_Of_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ExistingContentDocumentLInk</name>
        <label>Copy 1 of ExistingContentDocumentLInk</label>
        <locationX>930</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>existingContentDocumentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_loop_on_existing_Content_document_link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_loop_on_existing_Content_document_link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_List_Of_Opportunity_Contact_Role</name>
        <label>Copy 1 of List Of Opportunity Contact Role</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Account_Contact_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_newContentDocumentLink</name>
        <label>Copy 1 of newContentDocumentLink</label>
        <locationX>1106</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkrecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_on_Content_Version.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinkrecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_addContentDocumentLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Individual_Opportunity_Contact_Role_0</name>
        <label>Create Individual Opportunity Contact Role</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IndividualRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Contact_Loop.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Of_Opportunity_Contact_Role_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExistingContentDocumentLInk</name>
        <label>ExistingContentDocumentLInk</label>
        <locationX>138</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>existingContentDocumentList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_existing_Content_document_link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_existing_Content_document_link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Of_Opportunity_Contact_Role_0</name>
        <label>List Of Opportunity Contact Role</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Contact_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newContentDocumentLink</name>
        <label>newContentDocumentLink</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLinkrecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Content_Version.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinkrecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addContentDocumentLink</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FinanceQueueDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResellerAccountRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reseller</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Contact</name>
        <label>Check Account Contact</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Account_Contact_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Contact_Loop.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Individual_Opportunity_Contact_Role_0</targetReference>
            </connector>
            <label>Check Account Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Existing_Document</name>
        <label>check Existing Document</label>
        <locationX>226</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>newContentDocumentLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Existing_Content_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingContentDocumentList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_Content_Version.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Content_Version</targetReference>
            </connector>
            <label>Check Existing Content Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reseller_Account</name>
        <label>Check Reseller Account</label>
        <locationX>347</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Reseller_Account_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Bill_to_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResellerAccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.Bill_to_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PriorOpportunityRecord.Bill_to_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityRecord.Bill_to_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Account_Contact_Records</targetReference>
            </connector>
            <label>Check Reseller Account Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Standard_Account</name>
        <label>Check Standard Account</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorOpportunityRecord.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Fetch_Account_Contact_Records</targetReference>
            </connector>
            <label>Check Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Account_Contact</name>
        <label>Copy 1 of Check Account Contact</label>
        <locationX>1062</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Account_Contact_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_Account_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Account_Contact_Loop.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Individual_Opportunity_Contact_Role</targetReference>
            </connector>
            <label>Copy 1 of Check Account Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_Existing_Document</name>
        <label>Copy 1 of check Existing Document</label>
        <locationX>1018</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_newContentDocumentLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_Existing_Content_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingContentDocumentList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Loop_on_Content_Version.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_on_Content_Version</targetReference>
            </connector>
            <label>Copy 1 of Check Existing Content Document</label>
        </rules>
    </decisions>
    <decisions>
        <description>Integration User is Owner when Opportunity are created from external source like High touch</description>
        <name>Integration_User</name>
        <label>Integration User</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_Standard_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!OpportunityRecord.Account.Name} &amp; &apos; - Opp - &apos; &amp; {!OpportunityRecord.Opportunity_Number__c}</expression>
    </formulas>
    <interviewLabel>Individual Contact Role - Content Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual Contact Role - Content Document</label>
    <loops>
        <name>Account_Contact_Loop</name>
        <label>Account Contact Loop</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>Fetch_Account_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Account_Contact_Loop</name>
        <label>Copy 1 of Account Contact Loop</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <collectionReference>Copy_1_of_Fetch_Account_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_Account_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Opportunity_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_on_Content_Version</name>
        <label>Copy 1 of Loop on Content Version</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <collectionReference>Copy_1_of_FetchContentVersion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_check_Existing_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Create_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_loop_on_existing_Content_document_link</name>
        <label>Copy 1 of loop on existing Content document link</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <collectionReference>Copy_1_of_getExistContentDocumentLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_ExistingContentDocumentLInk</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_FetchContentVersion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Content_Version</name>
        <label>Loop on Content Version</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <collectionReference>FetchContentVersion</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Existing_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_existing_Content_document_link</name>
        <label>loop on existing Content document link</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <collectionReference>getExistContentDocumentLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExistingContentDocumentLInk</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FetchContentVersion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Content_Document_Link</name>
        <label>Copy 1 of Create Content Document Link</label>
        <locationX>842</locationX>
        <locationY>2918</locationY>
        <inputReference>contentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity_Contact_Roles</name>
        <label>Copy 1 of Create Opportunity Contact Roles</label>
        <locationX>842</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Copy_1_of_Fetch_Content_Document_Link</targetReference>
        </connector>
        <inputReference>OpportunityContactList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <inputReference>contentDocumentLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Contact_Roles</name>
        <label>Create Opportunity Contact Roles</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Fetch_Content_Document_Link</targetReference>
        </connector>
        <inputReference>OpportunityContactList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Fetch_Account_Contact_Records</name>
        <label>Copy 1 of Fetch Account Contact Records</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Account_Contact_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Fetch_Content_Document_Link</name>
        <label>Copy 1 of Fetch Content Document Link</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_ContentDocumentIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_FetchContentVersion</name>
        <label>Copy 1 of FetchContentVersion</label>
        <locationX>842</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_on_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>contentDocumentIdsList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Tax_Exempt__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_getExistContentDocumentLink</name>
        <label>Copy 1 of getExistContentDocumentLink</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_loop_on_existing_Content_document_link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Account_Contact_Records</name>
        <label>Fetch Account Contact Records</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Contact_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Bill_to_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Content_Document_Link</name>
        <label>Fetch Content Document Link</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocumentIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Bill_to_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FetchContentVersion</name>
        <label>FetchContentVersion</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>contentDocumentIdsList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Tax_Exempt__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistContentDocumentLink</name>
        <label>getExistContentDocumentLink</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_existing_Content_document_link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Reseller_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocumentIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentLinkrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>existingContentDocumentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PriorOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ReviewThePO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Review the PO</stringValue>
        </value>
    </variables>
</Flow>
