force-app/main/default/flows/LX_Owner_Assignment_On_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Opportunity_Owner</name>
        <label>Check Opportunity Owner</label>
        <locationX>1040</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Coaching_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Is_Opp_Owner_Coaching_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Is Coaching member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_Account_Owner_Coaching_Member</name>
        <label>Is Account Owner Coaching Member</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Task_To_LX_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Account.Is_Account_Owner_Coaching_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Opportunity_Moved_To_Quoted</name>
        <label>Opportunity Moved To Quoted</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorOpportunityRecord.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Is_Account_Owner_Coaching_Member</targetReference>
            </connector>
            <label>Quoted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Is_Account_Owner_Coaching_Member</name>
        <label>Is Account Owner Coaching Member</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Task_To_LX_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Account.Is_Account_Owner_Coaching_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Owner_Coaching_Member</name>
        <label>Is Account Owner Coaching Member</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_To_LX_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Account.Is_Account_Owner_Coaching_Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LX_Owner_Populated_On_Account</name>
        <label>LX Owner Populated On Account</label>
        <locationX>1271</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Account.Is_LX_Owner_Assigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Opportunity_Moved_To_Quoted</targetReference>
            </connector>
            <label>Yes Populated</label>
        </rules>
        <rules>
            <name>Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Account.LX_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Moved_To_Quoted</targetReference>
            </connector>
            <label>Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Moved_To_Quoted</name>
        <label>Opportunity Moved To Quoted</label>
        <locationX>1436</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Owner_Asssignment_Done_From_Distribution_Engine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorOpportunityRecord.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_Owner</targetReference>
            </connector>
            <label>Quoted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Asssignment_Done_From_Distribution_Engine</name>
        <label>Owner Asssignment Done From Distribution Engine</label>
        <locationX>1832</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.RoundRobinAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.RoundRobinAssignment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriorOpportunityRecord.RoundRobinAssignment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityRecord.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Round_Robin</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+ 3</expression>
    </formulas>
    <interviewLabel>LX Owner Assignment On Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LX Owner Assignment On Account and Task On Opp When Quoted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Task_To_LX_Owner</name>
        <label>Assign Task  To LX Owner</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OpportunityRecord.Account.LX_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Business/Winback Hand Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Assign_Task_To_LX_Owner</name>
        <label>Assign Task To LX Owner</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OpportunityRecord.Account.LX_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Business/Winback Hand Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Assign_Task_To_LX_Owner</name>
        <label>Assign Task  To LX Owner</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OpportunityRecord.Account.LX_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Business/Winback Hand Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Is_Account_Owner_Coaching_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LX_Owner__c</field>
            <value>
                <elementReference>OpportunityRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Round_Robin</name>
        <label>Update Account Round Robin</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_1_of_Is_Account_Owner_Coaching_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LX_Owner__c</field>
            <value>
                <elementReference>OpportunityRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LX_Owner_Populated_On_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PriorOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
