force-app/main/default/flows/Quote_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Quote_Name</name>
        <label>Set Quote Name</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_price_book_exist_on_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_price_book_from_opportunity</name>
        <label>update price book from opportunity</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_price_book_from_standard_pricebook</name>
        <label>update price book from standard pricebook</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_standard_pricebook_id.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_if_price_book_exist_on_opportunity</name>
        <label>check if price book exist on opportunity</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>get_standard_pricebook_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>pricebook dosent exist</defaultConnectorLabel>
        <rules>
            <name>pricebook_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_price_book_from_opportunity</targetReference>
            </connector>
            <label>pricebook exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Created_or_Updated</name>
        <label>is Created or Updated</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>is Updated</defaultConnectorLabel>
        <rules>
            <name>is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iscreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Name</targetReference>
            </connector>
            <label>is Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>iscreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Quote - Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_standard_pricebook_id</name>
        <label>get standard pricebook id</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_price_book_from_standard_pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Created_or_Updated</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
