force-app/main/default/flows/Reverse_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ReverseInvoiceExternalCallout</name>
        <label>ReverseInvoiceExternalCallout</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>ReverseInvoiceExternalCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reversed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>calloutType</name>
            <value>
                <stringValue>Reverse</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>Invoice_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Res_InvoiceId</assignToReference>
            <name>invoiceId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_responseType</assignToReference>
            <name>responseType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_Result</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_ReversalInvoiceId</assignToReference>
            <name>reversalInvoiceId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>res_Success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Reversed</name>
        <label>Reversed</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Reverse_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>res_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}  +&apos; &apos;+ {!$User.LastName} + &apos; Reversed.&apos;</expression>
    </formulas>
    <interviewLabel>Reverse Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reverse Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Reverse_Response</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Reverse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Reverse</name>
        <label>Reverse</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReverseInvoiceExternalCallout</targetReference>
        </connector>
        <fields>
            <name>Reverse_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reverse_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reverse_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reverse_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Reverse</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reverse_Response</name>
        <label>Reverse Response</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Reverse_Response_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reverse_Response_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReverseResponse</name>
                    <extensionName>c:lwc_NotifyMessage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>message</name>
                        <value>
                            <elementReference>res_Result</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <elementReference>res_responseType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reverse_Response_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reverse_Response_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>invoiceIdText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Res_InvoiceId</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reverse_Response_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Success</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>res_Success</elementReference>
                    </defaultValue>
                    <fieldText>Success</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reverse_Response_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reversal_Invoice_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>res_ReversalInvoiceId</elementReference>
                    </defaultValue>
                    <fieldText>Reversal Invoice Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Res_InvoiceId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reverse</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Res_InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_responseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_ReversalInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>res_Success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
