force-app/main/default/flows/Tax_Exempt_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>AccountObjectname</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>OpportunityObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Object_Name</name>
        <label>Check Object Name</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Opportunity_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityObjectName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record</targetReference>
            </connector>
            <label>Check Opportunity Name</label>
        </rules>
        <rules>
            <name>Check_Account_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEntity.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountObjectname</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccount</targetReference>
            </connector>
            <label>Check Account Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IdPrefix</name>
        <dataType>String</dataType>
        <expression>Left({!recordId},3)</expression>
    </formulas>
    <interviewLabel>Tax Exempt Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tax Exempt Screen Flow</label>
    <loops>
        <name>Loop_On_content_document_Link</name>
        <label>Loop On content document Link</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <collectionReference>ContentVersionId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Content_Version</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetEntity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Content_Document_Link</name>
        <label>Fetch Content Document Link</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_content_document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEntity</name>
        <label>GetEntity</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Loop_On_content_document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_content_document_Link</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Tax_Exempt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tax_Exempt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tax_Exempt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Tax_Exempt_Screen</name>
        <label>Tax Exempt Screen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fetch_Content_Document_Link</targetReference>
        </connector>
        <fields>
            <name>TaxExempt</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Tax Exempt File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentLinkCollection</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentVersionId</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tax_Exempt_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocumentLinkCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contnetDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
