force-app/main/default/flows/Update_Price_Book_On_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign Adept Id and Subscription Id from account on opportunity creation</description>
        <name>Assign_Adept_Id_and_Subscription_Id</name>
        <label>Assign Adept Id and Subscription Id</label>
        <locationX>94</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Adept_Customer_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Adept_Customer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Subscription_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Stamp_Price_Book</name>
        <label>Copy 1 of Stamp Price Book</label>
        <locationX>380</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tax_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Tax_Exempt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RoundRobinAssignmnet</name>
        <label>RoundRobinAssignmnet</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.RoundRobinAssignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Close_Date</name>
        <label>Set Opportunity Close Date</label>
        <locationX>94</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Adept_Id_and_Subscription_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Name</name>
        <label>Set Opportunity Name</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Quoted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_Price_Book</name>
        <label>Stamp Price Book</label>
        <locationX>116</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_to_Account__r.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_to_Account__r.Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tax_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_to_Account__r.Tax_Exempt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_License_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_End_Date_for_Yearly</name>
        <label>Update End Date for Yearly</label>
        <locationX>50</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>$Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateAnnual</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_End_Date_Monthly</name>
        <label>Update End Date Monthly</label>
        <locationX>314</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>$Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateMonthly</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>AccountResellerDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reseller</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Check_Standard_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_to_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountResellerDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Bill_to_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Bill_to_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_to_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Price_Book</targetReference>
            </connector>
            <label>Check Account Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_License_Type</name>
        <label>Check License Type</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yearly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Date_for_Yearly</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Date_Monthly</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Standard_Account</name>
        <label>Check Standard Account</label>
        <locationX>512</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Check_License_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Stamp_Price_Book</targetReference>
            </connector>
            <label>Is Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Execution</name>
        <label>Execution</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Value_Custom_Metadata</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Name</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Quoted</name>
        <label>If Quoted</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Check_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.LX_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RoundRobinAssignmnet</targetReference>
            </connector>
            <label>Quoted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Add defined number of days in todays date for close date</description>
        <name>CloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + VALUE({!Get_Default_Value_Custom_Metadata.Value__c})</expression>
    </formulas>
    <formulas>
        <name>EndDateAnnual</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Start_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>EndDateMonthly</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Start_Date__c},1)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Price Book On Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Price Book On Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Value_Custom_Metadata</name>
        <label>Get Default Value Custom Metadata</label>
        <locationX>94</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Close_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CloseDate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Default_Value__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Execution</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
